body {
  background-image: url(mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: #213c51;
  padding: 5px 10px;
  margin: 10px 10px;
}
