.Search .mb-3 {
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 22px;
  margin-top: 20px;
  padding: 10px;
}

.Search .btn.btn-info {
  content: "\f002";
  border: #2c5471 1px;
  background-color: #2c5471;
  color: #ffffff;
  font-family: FontAwesome;
  padding: 4px 9px;
}

.Search .btn.btn-secondary {
  border: #d8c3db;
  background-color: #d8c3db;
  color: #ffffff;
  padding: 4px 9px;
}
