.App .hr {
  display: block;
  margin: 10px auto;
  max-width: 90%;
}

.App .card {
  display: block;
  margin: 20px 10px;
  width: 37%;
  min-width: 500px;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid #3c605d;
  padding: 20px 10px;
}

body {
  background-image: url(mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: #213c51;
  padding: 5px 10px;
  margin: 10px 10px;
}
